{% extends "base.html" %}

{% block style %}
.about{
    text-align: center;
    margin-top:20px;
    padding-bottom:10px;
    padding:20px; 
}
.about-c{
    margin-left: 30px;
} 

{% endblock style %}

{% block body %}
<div class="about-c">
<h1 class="about">Anshika Ice Creams</h1>
<section>
<strong> Anshika Ice Creams </strong>is New York’s first foundation serving Thai-motivated frozen yogurt rolls. This idea was made in the city of Thailand, serving new, made-to-arrange frozen yogurt.
Roused by this frozen yogurt craftsmanship and by the manner in which barkeeps slyly make mixed drinks made to arrange, we mix the two ways to deal with make an affair for dessert fans with a mixed palette.
We roll every individual frozen yogurt arranged with the freshest fixings directly before your eyes, which means no additives or stabilizers are included. It’s frozen yogurt in its rawest frame – crisp off the plate.
</section>
<p>
Settled on Mott Street, in the core of notable New York Chinatown, we welcome you to encounter frozen yogurt like no other. Nothing tastes superior to anything crisp custom-made frozen yogurt that comes directly out of the dessert producer.
</p>
<p>
At ‘Organization Name’, we endeavor to accomplish a similar inclination with every client, turning fluid cream to frozen yogurt in less than two minutes. Utilizing a propelled virus plate that achieves temperatures well beneath – 10°F, the frozen yogurt produces littler ice atoms to make it normally smoother and creamier, dispensing with the need to include extra fat and emulsifiers to make a similar rich, velvety surface we adore in the dessert.
</p>
<section><p>
    The imperative piece: the frozen yogurt and sorbets Our frozen yogurt and sorbets are for the most part carefully assembled in-store. Our dessert is purified, whisked, poured, beat, and solidified with affection and care. Each bunch is submitted to our extremely strict quality control test. Truly, we do imply that we sneak a taste each and every time.</p>
</section>
<p>
    Subsequent to seeing Chinatown thrive and transform, we tried to open a special sort of dessert parlor, mixing Asian flavors and methods with present-day components that mirror the manner in which our neighborhood is developing – a recharged soul and job while remaining consistent with our foundations.
</p>

<h3>
    Why Choose Us:
</h3>
<dl>
    <dt>Quality Ingredients: </dt>
        <dd>We use the finest ingredients to create our ice cream, ensuring each scoop is a burst of flavor and delight.</dd>
    <dt>Variety of Flavors: </dt>
        <dd>With an extensive menu of flavors, from classic to unique, we have something for every taste preference.</dd>
    <dt> Customization:</dt>
        <dd>Our catering and subscription services allow you to tailor your ice cream experience to your liking.</dd>
    <dt>Exceptional Service:  </dt>
        <dd>We are dedicated to providing top-notch customer service and ensuring your satisfaction.</dd>
    <dt>Community Involvement:</dt>
    <dd> We believe in giving back to the community, and a portion of our proceeds goes to local charities.</dd>
</div>

{% endblock body %}